.square {
  width: 12vw;
  height: 14vh;
  border: 2px solid black;
}
.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 40vw;
  height: 40vh;
}

.mole {
  background-image: url(mole.jpg);
  background-size: cover;
}
